.filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 80%;
  padding: 16px;

  box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}
.div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}
.label {
  font-size: 16px;
  line-height: 1.2;
  width: 80%;
}
.input {
  height: 26px;
  width: 80%;
}
.button {
  padding: 8px 16px;
  background-color: #fff;
}
.button:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
}
.button:active {
  box-shadow: 0 0 3px rgba(122, 122, 122, 0.5);
}
